In [4]:
import pandas as pd 
df = pd.read_csv('Quora.csv')

In [5]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
df.shape

(404351, 6)

In [11]:
# random_State = 42 make the raandom no fixed even when we run the code multiple times
new_df = df.sample(30000, random_state= 42)

In [10]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [13]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0

In [16]:
no , yes = new_df['is_duplicate'].value_counts()

In [17]:
print(no)
print(yes)

18914
11086

In [18]:
## Feature Engineerring

In [19]:
new_df['q1_len']= new_df['question1'].str.len()
new_df['q2_len']= new_df['question2'].str.len()

In [21]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0,26,39
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0,63,76
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0,124,125
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0,54,40
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0,51,38

In [22]:
new_df['q1_num_words']= new_df['question1'].str.split().str.len()
new_df['q2_num_words']= new_df['question2'].str.split().str.len()

In [23]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0,26,39,5,8
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0,63,76,9,10
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0,124,125,20,20
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0,54,40,11,8
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0,51,38,12,7

In [32]:
def get_common_words(row):
    set1 = set(str(row['question1']).lower().split())
    set2 = set(str(row['question2']).lower().split())
    return len(set1.intersection(set2))

new_df['common_words'] = new_df.apply(get_common_words, axis=1)
# set removes duplicate words

In [33]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0,26,39,5,8,2
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0,63,76,9,10,4
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0,124,125,20,20,18
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0,54,40,11,8,2
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0,51,38,12,7,3

In [46]:
def unique_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split()))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split()))
    return len(w1.union(w2))  # or len(w1 | w2)
new_df['total_words'] = new_df.apply(unique_words, axis=1)

In [50]:
new_df.head()
new_df.drop(columns=['total_word','unique_word_count'], inplace= True)

In [51]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0,26,39,5,8,2,10
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0,63,76,9,10,4,15
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0,124,125,20,20,18,20
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0,54,40,11,8,2,15
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0,51,38,12,7,3,14

In [52]:
new_df['word_share']= round((new_df['common_words'])/new_df['total_words'],2)

In [54]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0,26,39,5,8,2,10,0.20
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0,63,76,9,10,4,15,0.27
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0,124,125,20,20,18,20,0.90
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0,54,40,11,8,2,15,0.13
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0,51,38,12,7,3,14,0.21

In [55]:
ques_df= new_df[['question1', 'question2']]

In [56]:
ques_df.head()

,question1,question2
120567,How does the Boggart work?,What would the boggart of a boggart be?
324466,What is difference between project manager and...,What are the differences between project manag...
398558,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...
339914,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?
185732,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?

In [57]:
final_df= new_df.drop(columns=['id','qid1', 'qid2', 'question1', 'question2'])
final_df.head()

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share
120567,0,26,39,5,8,2,10,0.20
324466,0,63,76,9,10,4,15,0.27
398558,0,124,125,20,20,18,20,0.90
339914,0,54,40,11,8,2,15,0.13
185732,0,51,38,12,7,3,14,0.21

In [58]:
final_df.shape

(30000, 8)

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000)

In [65]:
que_1= cv.fit_transform(ques_df['question1'])
que_2= cv.fit_transform(ques_df['question2'])

In [66]:
que_1.shape

(30000, 3000)

In [78]:
from scipy.sparse import hstack
temp= hstack([que_1, que_2])
temp.shape
# but you need to work woth a datatframe

(30000, 6000)

In [82]:
temp.shape
temp_df = pd.DataFrame.sparse.from_spmatrix(temp, index=final_df.index)

In [85]:
final_combined = pd.concat([final_df, temp_df], axis=1)
final_combined.shape

(30000, 6008)

In [86]:
type(final_combined)

pandas.core.frame.DataFrame

In [87]:
final_combined.head()

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share,0,1,...,5990,5991,5992,5993,5994,5995,5996,5997,5998,5999
120567,0,26,39,5,8,2,10,0.20,0,0,...,0,0,0,0,0,0,0,0,0,0
324466,0,63,76,9,10,4,15,0.27,0,0,...,0,0,0,0,0,0,0,0,0,0
398558,0,124,125,20,20,18,20,0.90,0,0,...,0,0,0,0,0,0,0,0,0,0
339914,0,54,40,11,8,2,15,0.13,0,0,...,0,0,0,0,0,0,0,0,0,0
185732,0,51,38,12,7,3,14,0.21,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
final_combined_1= final_combined.sample(n=3000, random_state= 42)
X= final_combined_1.drop('is_duplicate' , axis= 1)
y= final_combined_1['is_duplicate']
print(X)
print(y)

        q1_len  q2_len  q1_num_words  q2_num_words  common_words  total_words  \
381700      34      38             8             8             6           10
194353      43      47             7             8             7            8
385585      26      27             6             6             5            7
262664      65      50            10             9             4           15
322544      41      26             6             5             2            9
...        ...     ...           ...           ...           ...          ...
301439      87      65            13            11             2           20
300444      63      48             9             7             1           15
90563       39      70             6            14             1           18
392902      41      30             8             6             4           10
76189       50      48             9             9             7           11

        word_share  0  1  2  ...  5990  5991  5992  5993  5994  5995  5996  \
381700        0.60  0  0  0  ...     0     0     0     0     0     0     0
194353        0.88  0  0  0  ...     0     0     0     0     0     0     0
385585        0.71  0  0  0  ...     0     0     0     0     0     0     0
262664        0.27  0  0  0  ...     0     0     0     0     0     0     0
322544        0.22  0  0  0  ...     0     0     0     0     0     0     0
...            ... .. .. ..  ...   ...   ...   ...   ...   ...   ...   ...
301439        0.10  0  0  0  ...     0     0     0     0     0     0     0
300444        0.07  0  0  0  ...     0     0     0     0     0     0     0
90563         0.06  0  0  0  ...     0     0     0     0     0     0     0
392902        0.40  0  0  0  ...     0     0     0     0     0     0     0
76189         0.64  0  0  0  ...     0     0     0     0     0     0     0

        5997  5998  5999
381700     0     0     0
194353     0     0     0
385585     0     0     0
262664     0     0     0
322544     0     0     0
...      ...   ...   ...
301439     0     0     0
300444     0     0     0
90563      0     0     0
392902     0     0     0
76189      0     0     0

[3000 rows x 6007 columns]
381700    0
194353    1
385585    1
262664    1
322544    0
         ..
301439    0
300444    0
90563     0
392902    0
76189     0
Name: is_duplicate, Length: 3000, dtype: int64

In [115]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, y, test_size= 0.2, random_state= 42)

In [116]:
from sklearn.ensemble import RandomForestClassifier
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model= RandomForestClassifier(n_estimators= 100  , random_state= 42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

In [117]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, y_pred))

0.7066666666666667

In [118]:
X= final_combined.drop('is_duplicate' , axis= 1)
y= final_combined['is_duplicate']
print(X)
print(y)

        q1_len  q2_len  q1_num_words  q2_num_words  common_words  total_words  \
120567      26      39             5             8             2           10
324466      63      76             9            10             4           15
398558     124     125            20            20            18           20
339914      54      40            11             8             2           15
185732      51      38            12             7             3           14
...        ...     ...           ...           ...           ...          ...
353403      48      28            12             6             4           13
168089      28      52             6            10             1           14
228275      49      41             8             7             3           12
158461      69      71            14            11             4           21
63971       25      25             5             5             4            6

        word_share  0  1  2  ...  5990  5991  5992  5993  5994  5995  5996  \
120567        0.20  0  0  0  ...     0     0     0     0     0     0     0
324466        0.27  0  0  0  ...     0     0     0     0     0     0     0
398558        0.90  0  0  0  ...     0     0     0     0     0     0     0
339914        0.13  0  0  0  ...     0     0     0     0     0     0     0
185732        0.21  0  0  0  ...     0     0     0     0     0     0     0
...            ... .. .. ..  ...   ...   ...   ...   ...   ...   ...   ...
353403        0.31  0  0  0  ...     0     0     0     0     0     0     0
168089        0.07  0  0  0  ...     0     0     0     0     0     0     0
228275        0.25  0  0  0  ...     0     0     0     0     0     0     0
158461        0.19  0  0  0  ...     0     0     0     0     0     0     0
63971         0.67  0  0  0  ...     0     0     0     0     0     0     0

        5997  5998  5999
120567     0     0     0
324466     0     0     0
398558     0     0     0
339914     0     0     0
185732     0     0     0
...      ...   ...   ...
353403     0     0     0
168089     0     0     0
228275     0     0     0
158461     0     0     0
63971      0     0     0

[30000 rows x 6007 columns]
120567    0
324466    0
398558    0
339914    0
185732    0
         ..
353403    0
168089    0
228275    1
158461    1
63971     1
Name: is_duplicate, Length: 30000, dtype: int64

In [119]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, y, test_size= 0.2, random_state= 42)

In [124]:
final_combined_1= final_combined.sample(n=3000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [127]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.72

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

In [128]:
final_combined_1= final_combined.sample(n=4000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [129]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.73875

In [132]:
final_combined_1= final_combined.sample(n=4300, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [133]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7337209302325581

In [134]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [140]:

model = XGBClassifier(eval_metric='logloss', use_label_encoder=False, random_state=42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:158: UserWarning: [15:38:37] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")

Accuracy: 0.7133333333333334

In [141]:
final_combined_1= final_combined.sample(n=4500, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [142]:

model = XGBClassifier(eval_metric='logloss', use_label_encoder=False, random_state=42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:158: UserWarning: [15:40:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")

Accuracy: 0.7333333333333333

In [143]:
final_combined_1= final_combined.sample(n=5000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [144]:

model = XGBClassifier(eval_metric='logloss', use_label_encoder=False, random_state=42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:158: UserWarning: [15:41:05] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")

Accuracy: 0.718

In [159]:
final_combined_1= final_combined.sample(n=8000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [160]:

model = XGBClassifier()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")

Accuracy: 0.7275

In [161]:
final_combined_1= final_combined.sample(n=10000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [165]:

model = XGBClassifier()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\data.py:575: UserWarning: Sparse arrays from pandas are converted into dense.
  warnings.warn("Sparse arrays from pandas are converted into dense.")

Accuracy: 0.7447368421052631

In [168]:
final_combined_1= final_combined.sample(n=10000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [174]:
from sklearn.linear_model import SGDClassifier
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model = SGDClassifier(loss='log_loss', max_iter=1500, random_state=42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.703

In [175]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7295

In [176]:
final_combined_1= final_combined.sample(n=9000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [178]:
from sklearn.naive_bayes import MultinomialNB
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model = MultinomialNB()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7277777777777777

In [179]:
final_combined_1= final_combined.sample(n=15000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [180]:
from sklearn.naive_bayes import MultinomialNB
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model = MultinomialNB()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7313333333333333

In [181]:
final_combined_1= final_combined.sample(n=25000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [182]:
from sklearn.naive_bayes import MultinomialNB
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model = MultinomialNB()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7442

In [183]:
final_combined_1= final_combined.sample(n=30000, random_state= 42)
X_1= final_combined_1.drop('is_duplicate' , axis= 1)
y_1= final_combined_1['is_duplicate']
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X_1, y_1, test_size= 0.2, random_state= 42)

In [184]:
from sklearn.naive_bayes import MultinomialNB
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)
model = MultinomialNB()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:921: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

0.7381666666666666