In [1]:
import numpy as np 
import pandas as pd

In [2]:
df= pd.read_csv('Quora.csv')

In [3]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
new_df= df.sample(20000, random_state=42)

In [7]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,How does the Boggart work?,What would the boggart of a boggart be?,0
324466,324466,636476,636477,What is difference between project manager and...,What are the differences between project manag...,0
398558,398558,778728,778729,What hotel in Jabalpur would be safe for unmar...,What hotel in Allahabad would be safe for unma...,0
339914,339914,666314,666315,What is stronger - Super Saiyan 4 or Super Sai...,How does Gohan turn into Super Saiyan 2?,0
185732,185732,366764,366765,How do I fill in Address Line 1 and Address Li...,How do I register desired web address?,0

In [9]:
new_df['question1']=new_df['question1'].str.lower()

In [10]:
new_df['question2']=new_df['question2'].str.lower()

In [11]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work?,what would the boggart of a boggart be?,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger - super saiyan 4 or super sai...,how does gohan turn into super saiyan 2?,0
185732,185732,366764,366765,how do i fill in address line 1 and address li...,how do i register desired web address?,0

In [14]:
import re
def remove_html_tags(text):
    clean = re.sub(r'<.*?>', '', text)
    return clean

In [15]:
new_df['question1']=new_df['question1'].apply(remove_html_tags)

In [16]:
new_df['question2']=new_df['question2'].apply(remove_html_tags)

In [17]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work?,what would the boggart of a boggart be?,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger - super saiyan 4 or super sai...,how does gohan turn into super saiyan 2?,0
185732,185732,366764,366765,how do i fill in address line 1 and address li...,how do i register desired web address?,0

In [18]:
import string 
def remove_punctuation(text):
    return re.sub(rf"[{re.escape(string.punctuation)}]", "", text)

In [19]:
new_df['question1']=new_df['question1'].apply(remove_punctuation)

In [20]:
new_df['question2']=new_df['question2'].apply(remove_punctuation)

In [21]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger super saiyan 4 or super saiy...,how does gohan turn into super saiyan 2,0
185732,185732,366764,366765,how do i fill in address line 1 and address li...,how do i register desired web address,0

In [23]:
chat_words_dict = {
    "AFAIK": "As Far As I Know",
    "AFK": "Away From Keyboard",
    "ASAP": "As Soon As Possible",
    "ATK": "At The Keyboard",
    "ATM": "At The Moment",
    "A3": "Anytime, Anywhere, Anyplace",
    "BAK": "Back At Keyboard",
    "BBL": "Be Back Later",
    "BBS": "Be Back Soon",
    "BFN": "Bye For Now",
    "B4N": "Bye For Now",
    "BRB": "Be Right Back",
    "BRT": "Be Right There",
    "BTW": "By The Way",
    "B4": "Before",
    "CU": "See You",
    "CUL8R": "See You Later",
    "CYA": "See You",
    "FAQ": "Frequently Asked Questions",
    "FC": "Fingers Crossed",
    "FWIW": "For What It's Worth",
    "FYI": "For Your Information",
    "GAL": "Get A Life",
    "GG": "Good Game",
    "GN": "Good Night",
    "GMTA": "Great Minds Think Alike",
    "GR8": "Great!",
    "G9": "Genius",
    "IC": "I See",
    "ICQ": "I Seek You",
    "ILU": "I Love You",
    "IMHO": "In My Honest/Humble Opinion",
    "IMO": "In My Opinion",
    "IOW": "In Other Words",
    "IRL": "In Real Life",
    "KISS": "Keep It Simple, Stupid",
    "LDR": "Long Distance Relationship",
    "LMAO": "Laugh My A.. Off",
    "LOL": "Laughing Out Loud",
    "LTNS": "Long Time No See",
    "L8R": "Later",
    "MTE": "My Thoughts Exactly",
    "M8": "Mate",
    "NRN": "No Reply Necessary",
    "OIC": "Oh I See",
    "PITA": "Pain In The A..",
    "PRT": "Party",
    "PRW": "Parents Are Watching",
    "QPSA?": "Que Pasa?",
    "ROFL": "Rolling On The Floor Laughing",
    "ROFLOL": "Rolling On The Floor Laughing Out Loud",
    "ROTFLMAO": "Rolling On The Floor Laughing My A.. Off",
    "SK8": "Skate",
    "STATS": "Your sex and age",
    "ASL": "Age, Sex, Location",
    "THX": "Thank You",
    "TTFN": "Ta-Ta For Now!",
    "TTYL": "Talk To You Later",
    "U": "You",
    "U2": "You Too",
    "U4E": "Yours For Ever",
    "WB": "Welcome Back",
    "WTF": "What The F...",
    "WTG": "Way To Go!",
    "WUF": "Where Are You From?",
    "W8": "Wait...",
    "7K": "Sick:-D Laugher"
}

In [24]:
def replace_chat_words(text):
    words = text.split()
    replaced_words = []
    for word in words:
        clean_word = re.sub(r'\W+', '', word).upper()  # remove punctuation and make uppercase
        if clean_word in chat_words_dict:
            replacement = chat_words_dict[clean_word]
            replacement = re.sub(clean_word, replacement, word, flags=re.IGNORECASE)
            replaced_words.append(replacement)
        else:
            replaced_words.append(word)
    return ' '.join(replaced_words)

In [25]:
new_df['question1']=new_df['question1'].apply(replace_chat_words)

In [26]:
new_df['question2']=new_df['question2'].apply(replace_chat_words)

In [27]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger super saiyan 4 or super saiya...,how does gohan turn into super saiyan 2,0
185732,185732,366764,366765,how do i fill in address line 1 and address li...,how do i register desired web address,0

In [28]:
number_words = {
    "0": "zero", "1": "one", "2": "two", "3": "three",
    "4": "four", "5": "five", "6": "six", "7": "seven",
    "8": "eight", "9": "nine", "10": "ten"
}

def replace_numbers(text):
    words = text.split()
    replaced = [number_words.get(word, word) for word in words]
    return ' '.join(replaced)

In [29]:
new_df['question2']=new_df['question2'].apply(replace_numbers)

In [30]:
new_df['question1']=new_df['question1'].apply(replace_numbers)

In [31]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0

In [32]:
pip install symspellpy

Collecting symspellpy
  Downloading symspellpy-6.9.0-py3-none-any.whl.metadata (3.9 kB)
Collecting editdistpy>=0.1.3 (from symspellpy)
  Downloading editdistpy-0.1.6-cp39-cp39-win_amd64.whl.metadata (6.8 kB)
Downloading symspellpy-6.9.0-py3-none-any.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.6 MB 1.9 MB/s eta 0:00:02
   -------------------- ------------------- 1.3/2.6 MB 2.5 MB/s eta 0:00:01
   ---------------------------- ----------- 1.8/2.6 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 2.9 MB/s eta 0:00:00
Downloading editdistpy-0.1.6-cp39-cp39-win_amd64.whl (161 kB)
Installing collected packages: editdistpy, symspellpy
Successfully installed editdistpy-0.1.6 symspellpy-6.9.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [35]:
from symspellpy.symspellpy import SymSpell, Verbosity
sym_spell = SymSpell(max_dictionary_edit_distance=2)
sym_spell.load_dictionary("frequency_dictionary_en_82_765.txt", term_index=0, count_index=1)

2025-07-06 17:00:00,604: E symspellpy.symspellpy] Dictionary file not found at frequency_dictionary_en_82_765.txt.

False

In [36]:
def correct(text):
    return ' '.join(
        [sym_spell.lookup(word, Verbosity.CLOSEST, max_edit_distance=2)[0].term
         if sym_spell.lookup(word, Verbosity.CLOSEST, max_edit_distance=2)
         else word for word in text.split()]
    )

In [37]:
new_df['question2']=new_df['question2'].apply(correct)

In [38]:
new_df['question1']=new_df['question1'].apply(correct)

In [39]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0

In [43]:
new_df.sample(50)

,id,qid1,qid2,question1,question2,is_duplicate
230441,230441,454096,454097,why is it harder for black men to get asian wo...,why is that most asian women discriminate agai...,1
350512,350512,686676,686677,what are the best stories behind a countrys flag,how is the story behind your countrys national...,1
299556,299556,588359,588360,how is augmentin helpful against stds,what is the fascination with nekozawa cosplay ...,0
96618,96618,191780,191781,are the nude scenes that depict intercourse re...,in game of thrones which are some of the best ...,0
83925,83925,166683,166684,why does february have 28 days why 29 in leap ...,is 40000 ad a leap year,0
272744,272744,536374,536375,i want to start a cyber cafe in ncr near noida...,i want to start a new factory i have factory s...,0
168682,168682,333359,333360,how can do free online astrology prediction,how can i consult a good free online astrologer,1
17919,17919,35758,35759,how can a common man use make in india scheme ...,if a public companys outstanding shares have i...,0
227064,227064,447502,447503,what are the best 18 animes,what are the best boxing animes,0
122224,122224,242205,242206,how can i acquire taste,how do i acquire good taste,1
108153,108153,214489,214490,what are some mindblowing robotic home gadgets...,what are some mind blowing gadgets that exist ...,0
379089,379089,741466,741467,what is the recipe for the bread at pazzos res...,how does rocky get his money back in rocky bal...,0
145495,145495,287911,287912,what is the most messed up thing you have ever...,what stupid things do men tend to do that mess...,0
323365,323365,634333,634334,what are the qualities of a good researcher,what qualities define a good researcher,1
106205,106205,210649,210650,can i use bluestacks for testing my android apps,on my pc bluestacks app player isnt working wh...,0
302943,302943,594907,594908,is armenia lgbt friendly,is azerbaijan lgbt friendly,0
2846,2846,5692,5693,do touching lena danny d lena paul with the ca...,what is the best farewell sample letter from a...,0
362670,362670,710015,710016,how do i apply for pan card lost,i lost my pan card a year back but i remember ...,1
212917,212917,419900,419901,what is difference between logical memory phys...,if size of the physical memory is 232 one then...,0
150369,150369,297471,297472,how widely accepted are credit cards at small ...,how widely accepted are credit cards at small ...,0
96371,96371,191293,191294,which laptop should i buy under 70k,which is the best laptop around 3032k for gaming,0
50851,50851,101214,101215,how much do practice track professors make,what is it like to be a vegetarian in iceland,0
210731,210731,415657,26644,are threesomes good,how does one find a threesome,0
201996,201996,398592,398593,how can i get answers for my questions,how do i get my questions answered,1
380671,380671,744504,744505,what about pm narendra modis speech in kerala ...,what do you think of modis speech in kerala el...,1
88794,88794,176309,176310,can you send apps from one apple device to ano...,how can one copy data from one iphone to another,0
400950,400950,783273,783274,what happens if we dont swing our hands when w...,why do people move their arms while walking,0
225548,225548,444534,444535,in what month of the year was jesus most likel...,what month was jesus born in,1
321393,321393,630510,53381,what are the differences between liberalism an...,what is the difference between liberalism and ...,0
369415,369415,722942,722943,what life lessons and responsibilities should ...,i am 22 years old and i am not happy with my l...,0
175962,175962,347621,347622,how do i easily find the vaginal opening when ...,is it an instinct to insert the penis into a v...,0
281499,281499,553359,553360,how did you decide where to go to college,how did you decide which college to go,1
90975,90975,180630,180631,what are biopharmaceuticals how do they affect...,what is dilatant flow and its pharmaceutical s...,0
217832,217832,429497,429498,how would the movie be if karan dharma kama jo...,how would the movie be if karan dharma kama jo...,0
46789,46789,93160,93161,how the translator job in india and which are ...,how do i get my first job as a spanish to engl...,0
121398,121398,240574,240575,is the movie anna karenina 2012 much different...,what are the differences between the novel ann...,1
259255,259255,44787,360351,how do you approach a company you want to crea...,if youre looking to create a partnership with ...,0
121293,121293,240367,240368,what is the difference between indian engineer...,what is major difference between indian engine...,1
323764,323764,635103,635104,which phone should i buy with a budget of 200 aed,which cellphone should i buy with a budget of ...,0
152341,152341,301338,301339,what is the difference between smoking weed an...,what is the difference between hash weed marij...,0
123949,123949,245597,245598,which is the most read newspaper in india,what are the must read newspapers in india,0
230922,230922,455031,455032,why do some people find gas masks so scary,can you modify an maskhelmet to have a gas mask,0
166002,166002,328108,328109,what makes the dji inspire two a good drone,which of the following is suitable for commuti...,0
62566,62566,124428,124429,how did tim cook become the ceo of apple,how was tim cook appointed as the ceo of apple,1
187478,187478,370186,370187,whats the best way to learn english,what are the best ways to improve english,1
308943,308943,606498,606499,what exactly is the role of the election commi...,what is your review of election commission of ...,0
2548,2548,5096,5097,what are the benefits of joint family,what are the benefits of a joint family,1
199792,199792,394283,394284,what are your views on ban of 500 and 1000 rup...,what are your views on banning 500 and 1000 ru...,1
246098,246098,484644,484645,which are the most used designs patterns for m...,which mobile games have the most well designed...,0
246332,246332,485102,485103,how should i approach someone who can install ...,how can i install a tower in my plot,1

In [57]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')  # for correct lemmatization

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\purni\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\purni\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [58]:
from nltk.stem import WordNetLemmatizer

In [59]:
lemmatizer = WordNetLemmatizer()

In [61]:
def lemmatize_text(text):
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split()])

In [62]:
new_df['question2']=new_df['question2'].apply(correct)
new_df['question1']=new_df['question1'].apply(correct)
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0

In [63]:
new_df['q1_len']= new_df['question1'].str.len()
new_df['q2_len']= new_df['question2'].str.len()

In [64]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0,25,38
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0,62,75
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0,54,37

In [65]:
new_df['q1_num_words']= new_df['question1'].str.split().str.len()
new_df['q2_num_words']= new_df['question2'].str.split().str.len()

In [66]:
def get_common_words(row):
    set1 = set(str(row['question1']).lower().split())
    set2 = set(str(row['question2']).lower().split())
    return len(set1.intersection(set2))

new_df['common_words'] = new_df.apply(get_common_words, axis=1)
# set removes duplicate words

In [67]:
new_df['word_share']= round((new_df['common_words'])/new_df['total_words'],2)
def unique_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split()))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split()))
    return len(w1.union(w2))  # or len(w1 | w2)
new_df['total_words'] = new_df.apply(unique_words, axis=1)

In [68]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,2,10
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,4,13
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,17,19
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,2,14
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,4,13

In [69]:
new_df['word_share']= round((new_df['common_words'])/new_df['total_words'],2)

In [70]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,2,10,0.20
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,4,13,0.31
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,17,19,0.89
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,2,14,0.14
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,4,13,0.31

In [93]:
# Advanced Features
from nltk.corpus import stopwords


def fetch_token_features(row):
    
    q1 = row['question1']
    q2 = row['question2']
    
    SAFE_DIV = 0.0001 

    STOP_WORDS = stopwords.words("english")
    
    token_features = [0.0]*8
    
    # Converting the Sentence into Tokens: 
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return token_features

    # Get the non-stopwords in Questions
    q1_words = set([word for word in q1_tokens if word not in STOP_WORDS])
    q2_words = set([word for word in q2_tokens if word not in STOP_WORDS])
    
    #Get the stopwords in Questions
    q1_stops = set([word for word in q1_tokens if word in STOP_WORDS])
    q2_stops = set([word for word in q2_tokens if word in STOP_WORDS])
    
    # Get the common non-stopwords from Question pair
    common_word_count = len(q1_words.intersection(q2_words))
    
    # Get the common stopwords from Question pair
    common_stop_count = len(q1_stops.intersection(q2_stops))
    
    # Get the common Tokens from Question pair
    common_token_count = len(set(q1_tokens).intersection(set(q2_tokens)))
    
    
    token_features[0] = common_word_count / (min(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[1] = common_word_count / (max(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[2] = common_stop_count / (min(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[3] = common_stop_count / (max(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[4] = common_token_count / (min(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    token_features[5] = common_token_count / (max(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    
    # Last word of both question is same or not
    token_features[6] = int(q1_tokens[-1] == q2_tokens[-1])
    
    # First word of both question is same or not
    token_features[7] = int(q1_tokens[0] == q2_tokens[0])
    
    return token_features

In [95]:
token_features = new_df.apply(fetch_token_features, axis=1)

In [96]:
print(token_features)

120567    [0.49997500124993743, 0.49997500124993743, 0.3...
324466    [0.24999375015624611, 0.24999375015624611, 0.7...
398558    [0.90908264470323, 0.90908264470323, 0.9999857...
339914    [0.3999920001599968, 0.3999920001599968, 0.0, ...
185732    [0.24999375015624611, 0.1999960000799984, 0.99...
                                ...
208661    [0.6666444451851604, 0.6666444451851604, 0.999...
301907    [0.49997500124993743, 0.49997500124993743, 0.9...
68922     [0.1999960000799984, 0.1999960000799984, 0.999...
124306    [0.9999666677777407, 0.37499531255859303, 0.99...
9688      [0.3333222225925802, 0.1999960000799984, 0.333...
Length: 20000, dtype: object

In [97]:
token_features.shape

(20000,)

In [98]:
token_features = new_df.apply(fetch_token_features, axis=1)

new_df["cwc_min"]       = list(map(lambda x: x[0], token_features))
new_df["cwc_max"]       = list(map(lambda x: x[1], token_features))
new_df["csc_min"]       = list(map(lambda x: x[2], token_features))
new_df["csc_max"]       = list(map(lambda x: x[3], token_features))
new_df["ctc_min"]       = list(map(lambda x: x[4], token_features))
new_df["ctc_max"]       = list(map(lambda x: x[5], token_features))
new_df["last_word_eq"]  = list(map(lambda x: x[6], token_features))
new_df["first_word_eq"] = list(map(lambda x: x[7], token_features))

In [99]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,...,total_words,word_share,cwc_min,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,...,10,0.20,0.499975,0.499975,0.333322,0.199996,0.399992,0.249997,0.0,0.0
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,...,13,0.31,0.249994,0.249994,0.749981,0.599988,0.444440,0.399996,0.0,1.0
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,...,19,0.89,0.909083,0.909083,0.999986,0.999986,0.849996,0.849996,1.0,1.0
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,...,14,0.14,0.399992,0.399992,0.000000,0.000000,0.249997,0.199998,0.0,0.0
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,...,13,0.31,0.249994,0.199996,0.999967,0.599988,0.571420,0.333331,0.0,1.0

In [123]:
import distance

def fetch_length_features(row):
    q1 = row['question1']
    q2 = row['question2']
    
    length_features = [0.0]*3
    
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return length_features
    
    length_features[0] = abs(len(q1_tokens) - len(q2_tokens))
    length_features[1] = (len(q1_tokens) + len(q2_tokens)) / 2
    
    strs = list(distance.lcsubstrings(q1, q2))
    
    if len(strs) > 0:
        length_features[2] = len(strs[0]) / (min(len(q1), len(q2)) + 1)
    else:
        length_features[2] = 0
    
    return length_features

In [124]:
length_features = new_df.apply(fetch_length_features, axis=1)

In [125]:
new_df['abs_len_diff'] = list(map(lambda x: x[0], length_features))
new_df['mean_len'] = list(map(lambda x: x[1], length_features))
new_df['longest_substr_ratio'] = list(map(lambda x: x[2], length_features))

In [126]:
new_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,...,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,...,0.499975,0.333322,0.199996,0.399992,0.249997,0.0,0.0,3.0,6.5,0.500000
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,...,0.249994,0.749981,0.599988,0.444440,0.399996,0.0,1.0,1.0,9.5,0.365079
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,...,0.909083,0.999986,0.999986,0.849996,0.849996,1.0,1.0,0.0,20.0,0.809917
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,...,0.399992,0.000000,0.000000,0.249997,0.199998,0.0,0.0,2.0,9.0,0.333333
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,...,0.199996,0.999967,0.599988,0.571420,0.333331,0.0,1.0,5.0,9.5,0.236842

In [127]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [128]:
from fuzzywuzzy import fuzz

def fetch_fuzzy_features(row):
    
    q1 = row['question1']
    q2 = row['question2']
    
    fuzzy_features = [0.0]*4
    
    # fuzz_ratio
    fuzzy_features[0] = fuzz.QRatio(q1, q2)

    # fuzz_partial_ratio
    fuzzy_features[1] = fuzz.partial_ratio(q1, q2)

    # token_sort_ratio
    fuzzy_features[2] = fuzz.token_sort_ratio(q1, q2)

    # token_set_ratio
    fuzzy_features[3] = fuzz.token_set_ratio(q1, q2)

    return fuzzy_features

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [129]:
fuzzy_features = new_df.apply(fetch_fuzzy_features, axis=1)

# Creating new feature columns for fuzzy features
new_df['fuzz_ratio'] = list(map(lambda x: x[0], fuzzy_features))
new_df['fuzz_partial_ratio'] = list(map(lambda x: x[1], fuzzy_features))
new_df['token_sort_ratio'] = list(map(lambda x: x[2], fuzzy_features))
new_df['token_set_ratio'] = list(map(lambda x: x[3], fuzzy_features))

In [130]:
print(new_df.shape)
new_df.head()

(20000, 28)

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
120567,120567,238932,238933,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,...,0.249997,0.0,0.0,3.0,6.5,0.500000,57,68,57,65
324466,324466,636476,636477,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,...,0.399996,0.0,1.0,1.0,9.5,0.365079,76,77,74,76
398558,398558,778728,778729,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,...,0.849996,1.0,1.0,0.0,20.0,0.809917,95,95,92,96
339914,339914,666314,666315,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,...,0.199998,0.0,0.0,2.0,9.0,0.333333,48,51,53,51
185732,185732,366764,366765,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,...,0.333331,0.0,1.0,5.0,9.5,0.236842,44,54,55,60

In [131]:
new_df= new_df.drop(columns=['id',	'qid1',	'qid2'])

In [132]:
## final dataframe that is needed by us and we apply differnet thibg to it to get accuracy 
new_df.head()

,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
120567,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,2,10,0.20,...,0.249997,0.0,0.0,3.0,6.5,0.500000,57,68,57,65
324466,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,4,13,0.31,...,0.399996,0.0,1.0,1.0,9.5,0.365079,76,77,74,76
398558,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,17,19,0.89,...,0.849996,1.0,1.0,0.0,20.0,0.809917,95,95,92,96
339914,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,2,14,0.14,...,0.199998,0.0,0.0,2.0,9.0,0.333333,48,51,53,51
185732,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,4,13,0.31,...,0.333331,0.0,1.0,5.0,9.5,0.236842,44,54,55,60

In [136]:
final_df = new_df.drop(columns=['question1','question2'])

In [133]:
que_df= new_df[['question1','question2']]

In [134]:
que_df

,question1,question2
120567,how does the boggart work,what would the boggart of a boggart be
324466,what is difference between project manager and...,what are the differences between project manag...
398558,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...
339914,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two
185732,how do i fill in address line one and address ...,how do i register desired web address
...,...,...
208661,what is a good translation of необыкновенно,what is a good translation of 分久必合合久必分
301907,how do i put on condom,how do i use condom
68922,do you think behavioral marketing is good for ...,do you think homosexual behavior is morally right
124306,how accurate is carbon dating,how is carbon dating preformed does carbon dat...
9688,how did the punch buggy car game start,what are some games to play in the car

In [138]:
# To que_df we want to convert from word to vector we will apply word 2 vec, and otheer things in order to get accuacrr let's first try word2vec

In [146]:
new_df= new_df.drop(columns=['q1_vector','q2_vector'])

In [147]:
new_df.head()

,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
120567,how does the boggart work,what would the boggart of a boggart be,0,25,38,5,8,2,10,0.20,...,0.249997,0.0,0.0,3.0,6.5,0.500000,57,68,57,65
324466,what is difference between project manager and...,what are the differences between project manag...,0,62,75,9,10,4,13,0.31,...,0.399996,0.0,1.0,1.0,9.5,0.365079,76,77,74,76
398558,what hotel in jabalpur would be safe for unmar...,what hotel in allahabad would be safe for unma...,0,120,121,20,20,17,19,0.89,...,0.849996,1.0,1.0,0.0,20.0,0.809917,95,95,92,96
339914,what is stronger super saiyan four or super sa...,how does gohan turn into super saiyan two,0,54,41,10,8,2,14,0.14,...,0.199998,0.0,0.0,2.0,9.0,0.333333,48,51,53,51
185732,how do i fill in address line one and address ...,how do i register desired web address,0,54,37,12,7,4,13,0.31,...,0.333331,0.0,1.0,5.0,9.5,0.236842,44,54,55,60

In [148]:
que_df.shape

(20000, 2)

In [236]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=1000)
q1_bow = vectorizer.fit_transform(que_df['question1'].fillna("")).toarray()
q2_bow = vectorizer.transform(new_df['question2'].fillna("")).toarray()
bow_features = np.hstack((q1_bow, q2_bow)) 
class DummyW2V:
    def __contains__(self, key): return True
    def __getitem__(self, key): return np.random.rand(150)
model = DummyW2V()

def get_avg_w2v(text, model, dim=150):
    tokens = text.split()
    vecs = [model[word] for word in tokens if word in model]
    if not vecs:
        return np.zeros(dim)
    return np.mean(vecs, axis=0)

q1_w2v = np.array([get_avg_w2v(q, model) for q in que_df['question1'].fillna("")])
q2_w2v = np.array([get_avg_w2v(q, model) for q in que_df['question2'].fillna("")])
w2v_features = np.hstack((q1_w2v, q2_w2v))
final_features = np.hstack((bow_features, w2v_features))

In [237]:
type(final_features)

numpy.ndarray

In [238]:
final_features.shape

(20000, 2300)

In [239]:
num_features = final_features.shape[1]
column_names = [f'feature_{i}' for i in range(num_features)]
finals_df = pd.DataFrame(final_features, columns=column_names)

In [240]:
finals_df.shape

(20000, 2300)

In [241]:
type(finals_df)

pandas.core.frame.DataFrame

In [242]:
final_df.head()

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share,cwc_min,cwc_max,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,0,25,38,5,8,2,10,0.20,0.499975,0.499975,...,0.249997,0.0,0.0,3.0,6.5,0.500000,57,68,57,65
1,0,62,75,9,10,4,13,0.31,0.249994,0.249994,...,0.399996,0.0,1.0,1.0,9.5,0.365079,76,77,74,76
2,0,120,121,20,20,17,19,0.89,0.909083,0.909083,...,0.849996,1.0,1.0,0.0,20.0,0.809917,95,95,92,96
3,0,54,41,10,8,2,14,0.14,0.399992,0.399992,...,0.199998,0.0,0.0,2.0,9.0,0.333333,48,51,53,51
4,0,54,37,12,7,4,13,0.31,0.249994,0.199996,...,0.333331,0.0,1.0,5.0,9.5,0.236842,44,54,55,60

In [243]:
finals_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_2290,feature_2291,feature_2292,feature_2293,feature_2294,feature_2295,feature_2296,feature_2297,feature_2298,feature_2299
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.495934,0.397464,0.521848,0.621015,0.363863,0.413956,0.343944,0.641339,0.442633,0.463452
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.523062,0.518836,0.516138,0.429206,0.402227,0.582317,0.418140,0.519865,0.432191,0.516851
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.482774,0.423810,0.397265,0.597406,0.488098,0.526101,0.510067,0.469638,0.425403,0.488281
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.642150,0.688198,0.600854,0.311229,0.477180,0.495133,0.628347,0.496917,0.393699,0.511653
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.587841,0.634683,0.677380,0.643532,0.566836,0.252519,0.338217,0.503349,0.565566,0.329873

In [244]:
finals_df.shape

(20000, 2300)

In [245]:
final_df.shape

(20000, 23)

In [246]:
final_df = final_df.reset_index(drop=True)
finals_df = finals_df.reset_index(drop=True)

f_df = pd.concat([final_df, finals_df], axis=1)
print(f_df.shape)

(20000, 2323)

In [247]:
f_df.head()

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,common_words,total_words,word_share,cwc_min,cwc_max,...,feature_2290,feature_2291,feature_2292,feature_2293,feature_2294,feature_2295,feature_2296,feature_2297,feature_2298,feature_2299
0,0,25,38,5,8,2,10,0.20,0.499975,0.499975,...,0.495934,0.397464,0.521848,0.621015,0.363863,0.413956,0.343944,0.641339,0.442633,0.463452
1,0,62,75,9,10,4,13,0.31,0.249994,0.249994,...,0.523062,0.518836,0.516138,0.429206,0.402227,0.582317,0.418140,0.519865,0.432191,0.516851
2,0,120,121,20,20,17,19,0.89,0.909083,0.909083,...,0.482774,0.423810,0.397265,0.597406,0.488098,0.526101,0.510067,0.469638,0.425403,0.488281
3,0,54,41,10,8,2,14,0.14,0.399992,0.399992,...,0.642150,0.688198,0.600854,0.311229,0.477180,0.495133,0.628347,0.496917,0.393699,0.511653
4,0,54,37,12,7,4,13,0.31,0.249994,0.199996,...,0.587841,0.634683,0.677380,0.643532,0.566836,0.252519,0.338217,0.503349,0.565566,0.329873

In [248]:
f_df.shape

(20000, 2323)

In [250]:
X= f_df.drop('is_duplicate' , axis= 1)
y= f_df['is_duplicate']
print(X)
print(y)

       q1_len  q2_len  q1_num_words  q2_num_words  common_words  total_words  \
0          25      38             5             8             2           10
1          62      75             9            10             4           13
2         120     121            20            20            17           19
3          54      41            10             8             2           14
4          54      37            12             7             4           13
...       ...     ...           ...           ...           ...          ...
19995      43      38             7             7             6            8
19996      22      19             6             5             4            7
19997      61      49            10             8             4           14
19998      29     103             5            16             5           14
19999      38      38             8             9             2           15

       word_share   cwc_min   cwc_max   csc_min  ...  feature_2290  \
0            0.20  0.499975  0.499975  0.333322  ...      0.495934
1            0.31  0.249994  0.249994  0.749981  ...      0.523062
2            0.89  0.909083  0.909083  0.999986  ...      0.482774
3            0.14  0.399992  0.399992  0.000000  ...      0.642150
4            0.31  0.249994  0.199996  0.999967  ...      0.587841
...           ...       ...       ...       ...  ...           ...
19995        0.75  0.666644  0.666644  0.999975  ...      0.401279
19996        0.57  0.499975  0.499975  0.999967  ...      0.437558
19997        0.29  0.199996  0.199996  0.999967  ...      0.637215
19998        0.36  0.999967  0.374995  0.999950  ...      0.525276
19999        0.13  0.333322  0.199996  0.333322  ...      0.450683

       feature_2291  feature_2292  feature_2293  feature_2294  feature_2295  \
0          0.397464      0.521848      0.621015      0.363863      0.413956
1          0.518836      0.516138      0.429206      0.402227      0.582317
2          0.423810      0.397265      0.597406      0.488098      0.526101
3          0.688198      0.600854      0.311229      0.477180      0.495133
4          0.634683      0.677380      0.643532      0.566836      0.252519
...             ...           ...           ...           ...           ...
19995      0.338153      0.462736      0.564993      0.519277      0.447986
19996      0.601376      0.408838      0.513518      0.734668      0.584529
19997      0.620817      0.612514      0.454181      0.397036      0.365864
19998      0.530269      0.465668      0.350833      0.452297      0.387580
19999      0.543286      0.504824      0.298878      0.504681      0.440914

       feature_2296  feature_2297  feature_2298  feature_2299
0          0.343944      0.641339      0.442633      0.463452
1          0.418140      0.519865      0.432191      0.516851
2          0.510067      0.469638      0.425403      0.488281
3          0.628347      0.496917      0.393699      0.511653
4          0.338217      0.503349      0.565566      0.329873
...             ...           ...           ...           ...
19995      0.405312      0.417291      0.447327      0.410888
19996      0.341779      0.628618      0.545465      0.450058
19997      0.538057      0.325020      0.471299      0.473796
19998      0.477260      0.483599      0.554607      0.537555
19999      0.493756      0.449059      0.359563      0.670256

[20000 rows x 2322 columns]
0        0
1        0
2        0
3        0
4        0
        ..
19995    0
19996    1
19997    0
19998    1
19999    0
Name: is_duplicate, Length: 20000, dtype: int64

In [251]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, y, test_size= 0.3, random_state= 42)

In [181]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, y, test_size= 0.3, random_state= 42)
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators= 100  , random_state= 42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, y_pred))

0.723

In [182]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, y, test_size= 0.3, random_state= 42)
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

0.7403333333333333

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [183]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7536666666666667

In [184]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier(eval_metric='logloss', use_label_encoder=False, random_state=42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:158: UserWarning: [20:50:19] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Accuracy: 0.7505

In [186]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=5000)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7495

In [188]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=2000, C=1.0)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

0.7503333333333333

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [191]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators= 800  , random_state= 42)
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, y_pred))

0.7363333333333333

In [221]:
from sklearn.linear_model import LogisticRegression
model_logisitc = LogisticRegression(max_iter=1500, C=1.0)
model_logisitc.fit(X_train , Y_train)
y_pred=  model_logisitc.predict(X_test)
print(accuracy_score(Y_test, y_pred))

0.705

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [190]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(Y_test, y_pred))

Accuracy: 0.7505

In [195]:
## max accuracy
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1100)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

0.7571666666666667

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [196]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1300)
model.fit(X_train , Y_train)
y_pred=  model.predict(X_test)
print(accuracy_score(Y_test, y_pred))

0.7526666666666667

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [278]:
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier(n_estimators= 2000 , random_state= 42)
rf.fit(X_train, Y_train)
y_pred = rf.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, y_pred))

0.738

In [202]:
def preprocess(q1, q2):
    # Lowercase
    q1 = q1.lower()
    q2 = q2.lower()

    # Remove HTML tags
    q1 = remove_html_tags(q1)
    q2 = remove_html_tags(q2)

    # Replace chat words
    q1 = replace_chat_words(q1)
    q2 = replace_chat_words(q2)

    # Replace numbers with words
    q1 = replace_numbers(q1)
    q2 = replace_numbers(q2)

    # Spelling correction using SymSpell
    q1 = correct(q1)
    q2 = correct(q2)

    return q1, q2

In [204]:
from collections import Counter

def get_common_words_count(q1, q2):
    words1 = str(q1).lower().split()
    words2 = str(q2).lower().split()

    counter1 = Counter(words1)
    counter2 = Counter(words2)

    # Count total common words including duplicates
    common = counter1 & counter2  # intersection: min of counts
    return sum(common.values())

In [206]:
def get_total_unique_words(q1, q2):
    w1 = set(map(lambda word: word.lower().strip(), str(q1).split()))
    w2 = set(map(lambda word: word.lower().strip(), str(q2).split()))
    return len(w1.union(w2))  # or len(w1 | w2)

In [207]:
from nltk.corpus import stopwords

def get_token_features(q1, q2):
    SAFE_DIV = 0.0001
    STOP_WORDS = set(stopwords.words("english"))  # use set for faster lookup

    token_features = [0.0] * 8

    # Tokenize
    q1_tokens = str(q1).split()
    q2_tokens = str(q2).split()

    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return token_features

    # Non-stop words
    q1_words = set([word for word in q1_tokens if word not in STOP_WORDS])
    q2_words = set([word for word in q2_tokens if word not in STOP_WORDS])

    # Stop words
    q1_stops = set([word for word in q1_tokens if word in STOP_WORDS])
    q2_stops = set([word for word in q2_tokens if word in STOP_WORDS])

    # Common counts
    common_word_count = len(q1_words & q2_words)
    common_stop_count = len(q1_stops & q2_stops)
    common_token_count = len(set(q1_tokens) & set(q2_tokens))

    # Populate features
    token_features[0] = common_word_count / (min(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[1] = common_word_count / (max(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[2] = common_stop_count / (min(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[3] = common_stop_count / (max(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[4] = common_token_count / (min(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    token_features[5] = common_token_count / (max(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    token_features[6] = int(q1_tokens[-1] == q2_tokens[-1])
    token_features[7] = int(q1_tokens[0] == q2_tokens[0])

    return token_features

In [208]:
import distance

def get_length_features(q1, q2):
    length_features = [0.0] * 3
    
    q1_tokens = str(q1).split()
    q2_tokens = str(q2).split()
    
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return length_features

    length_features[0] = abs(len(q1_tokens) - len(q2_tokens))  # difference in token lengths
    length_features[1] = (len(q1_tokens) + len(q2_tokens)) / 2  # avg token length

    # Longest Common Substring ratio
    lcs = list(distance.lcsubstrings(q1, q2))
    if lcs:
        length_features[2] = len(lcs[0]) / (min(len(q1), len(q2)) + 1)
    else:
        length_features[2] = 0.0

    return length_features

In [209]:
from fuzzywuzzy import fuzz

def get_fuzzy_features(q1, q2):
    fuzzy_features = [0.0] * 4
    
    q1 = str(q1)
    q2 = str(q2)
    
    fuzzy_features[0] = fuzz.QRatio(q1, q2)
    fuzzy_features[1] = fuzz.partial_ratio(q1, q2)
    fuzzy_features[2] = fuzz.token_sort_ratio(q1, q2)
    fuzzy_features[3] = fuzz.token_set_ratio(q1, q2)
    
    return fuzzy_features

In [268]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

# Fit on corpus beforehand
vectorizer = CountVectorizer(max_features=1000)
vectorizer.fit(que_df['question1'].fillna("").tolist() + que_df['question2'].fillna("").tolist())

# Dummy Word2Vec model
class DummyW2V:
    def __contains__(self, key): return True
    def __getitem__(self, key): return np.random.rand(150)
models = DummyW2V()
def get_avg_w2v(text, models, dim=150):
    tokens = text.split()
    vecs = [model[word] for word in tokens if word in model]
    if not vecs:
        return np.zeros(dim)
    return np.mean(vecs, axis=0)
def get_combined_bow_w2v_features(q1, q2, vectorizer, model, dim=150):
    # BoW vectors
    q1_bow = vectorizer.transform([q1]).toarray().flatten()
    q2_bow = vectorizer.transform([q2]).toarray().flatten()
    
    # W2V vectors
    q1_w2v = get_avg_w2v(q1, model, dim)
    q2_w2v = get_avg_w2v(q2, model, dim)
    
    # Concatenate all
    combined_features = np.hstack((q1_bow, q2_bow, q1_w2v, q2_w2v))
    return combined_features

In [279]:
def query_point_creator(q1, q2):
    input_query = []
    q1, q2 = preprocess(q1, q2)

    input_query.append(len(q1))
    input_query.append(len(q2))
    input_query.append(len(q1.split(" ")))
    input_query.append(len(q2.split(" ")))
    input_query.append(get_common_words_count(q1, q2))
    input_query.append(get_total_unique_words(q1, q2))
    input_query.append(round(get_common_words_count(q1, q2) / (get_total_unique_words(q1, q2) + 1e-5), 2))

    # Correct: use extend
    input_query.extend(get_token_features(q1, q2))
    input_query.extend(get_length_features(q1, q2))
    input_query.extend(get_fuzzy_features(q1, q2))

    # FIX THIS: pass w2v_model instead of model (model is your classifier)
    bow_w2v = get_combined_bow_w2v_features(q1, q2, vectorizer, w2v_model)

    final_features = np.hstack((np.array(input_query), bow_w2v))
    return final_features

In [275]:
q1= 'where is india '
q2= 'india is where'

In [313]:
q1 = "where is the capital of India"
q2 = "which is the current capital of INDIA"
query = query_point_creator(q1, q2).reshape(1, -1)
y_pred = rf.predict(query)
print(y_pred)

[1]

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [310]:
query = query_point_creator(q1, q2).reshape(1, -1)
y_pred = rf.predict(query)
print(y_pred)

[1]

C:\Users\purni\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [301]:
q1 = "MY NAME IS SHELIA"
q2 = "MY NAME IS SHELIA"
query_point_creator(q1, q2).shape
query = query_point_creator(q1, q2).reshape(1, -1)
query_df = pd.DataFrame(query, columns=X_train.columns)
y_pred = rf.predict(query_df)
print(y_pred)

[1]

In [295]:
query = query_point_creator(q1, q2).reshape(1, -1)
query_df = pd.DataFrame(query, columns=X_train.columns)
y_pred = rf.predict(query_df)

In [296]:
print(y_pred)

[0]

In [287]:
import pickle
pickle.dump(rf, open('model.pkl', 'wb'))
pickle.dump(get_combined_bow_w2v_features, open('cv.pkl', 'wb'))

In [288]:
import pickle

# Save the trained classifier
pickle.dump(rf, open('model.pkl', 'wb'))

# Save the fitted CountVectorizer
pickle.dump(vectorizer, open('vectorizer.pkl', 'wb'))

# Save the Word2Vec model (Dummy or real)
pickle.dump(w2v_model, open('w2v_model.pkl', 'wb'))